.NavBar{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}
.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
}
.NavBar .imgLogo{
    display: block;
    margin-right: 10%;
}
.navMenu ul li{
    font-size: 20px;
    cursor: pointer;
}
.navConnect{
    display: flex;
    margin-left: 10%;
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #fce055 0.36%, #256eff 102.06%);
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.navConnect:hover{
    transform: scale(1.05);

}
.navMenu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.navMenu li img{
    display: flex;
    margin: auto;
}
.anchorLink{
    text-decoration: none;
    color: white;
}
.navMobClose{
    display: none;
}
.navMobOpen{
    display: none;
}
@media(max-width:768px){
    .NavBar{
        margin: 20px 50px;
        border: none;
    }
    .navConnect{
        display: none;
    }
    .NavBar .imgLogo{
        margin-left: 10%;
        width: 75px;
        height: 75px;
    }
    .navMobOpen{
        display: block;
        position: fixed;
        right: 30px;
    }
    .navMobClose{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .navMenu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .navMenu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}